@using prj認真版嗎.ViewModel
@model C年份營業額統計
@{
    Layout = null;
}

<div class="container">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['銷售量排行'],
            datasets: [
                {
                    label:'日本',
                    data: [5],
                    backgroundColor:'rgba(255, 99, 132, 0.5)',
                    borderColor:'rgba(255, 99, 132, 1)',
                }, {
                    label:'韓國',
                    data: [3],
                    backgroundColor:'rgba(54, 162, 235, 0.5)',
                    borderColor:'rgba(54, 162, 235, 1)',
                },{
                    label:'台灣',
                    data: [3],
                    backgroundColor: 'rgba(255, 206, 86, 0.5)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                },{
                    label:'美國',
                    data: [3],
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                },{
                    label:'泰國',
                    data: [5],
                    backgroundColor: 'rgba(153, 102, 255, 0.5)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                },{
                    label:'中國',
                    data: [20],
                    backgroundColor:'rgba(54, 162, 235, 0.5)',
                    borderColor:'rgba(54, 162, 235, 1)',
                },{
                    label:'新加坡',
                    data: [2],
                    backgroundColor: 'rgba(255, 159, 64, 0.5)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Grid Line Settings'
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false,
                        color: ['pink', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple']
                    },
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 10
                    }
                }]
            }
        }
    });
</script>
<script type="text/javascript" sre="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>