@using prj認真版嗎.ViewModel
@model CMember
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div id="">
    <h1 style="font-family:Helvetica">會員修改資料</h1>
    <div>
        <button type="button" id="我愛"  class="btn btn-primary" />修改名稱
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MembersId" />


                <div class="form-group">
                    <label asp-for="MemberName" class="control-label"></label>
                    <input asp-for="MemberName" class="form-control" />
                </div>


                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CityId" class="control-label"></label>
                    <input asp-for="CityName" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PhotoPath" class="control-label"></label>
                    <input asp-for="PhotoPath" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="file" class="form-control-file" id="InputFile" name="photo">
                </div>

                <div class="form-group">
                    <label asp-for="MemberStatusId" class="control-label"></label>
                    <input type="text" hidden value="@Model.MemberStatusId" id="in" />
                    <select id="Status" name="MemberStatusName">
                        <option value="@Model.MemberStatusName" selected>@Model.MemberStatusName</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="修改" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="right:0">關閉</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        var selStatus = document.querySelector("#Status");
        var hid = document.querySelector("#in");

        (async function () {
            await loadStatus()
        }())

        async function loadStatus() {
            await ajaxCall("@Url.Content("~/customer/Status?id=")" + hid.value, rendering, selStatus)
        }
        async function ajaxCall(url, rendering, sel) {
            let response = await fetch(url)
            let datas = await response.json()
            rendering(sel, datas)
        }
    
    $("#我愛").on('click', function () {
        $('#MemberName').val("我愛星球旅遊123");

    })
        function rendering(sel, datas) {
        datas.forEach(da=>{
            const opt = new Option(da, da)
         sel.options.add(opt)
          })
        }
</script>

