@model prj認真版嗎.MViewModel.CCoupon

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h1>新增優惠券</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">優惠券序號</label>
                <input asp-for="GiftKey" id="GiftKey" class="form-control" required />
                <span asp-validation-for="GiftKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">優惠券名稱</label>
                <input asp-for="CouponName" id="CouponName" class="form-control" required />
                <span asp-validation-for="CouponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">優惠金額</label>
                <input asp-for="Discount" id="Discount" class="form-control" required />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">到期日</label>
                <input id="ex" asp-format="{0:yyyy/MM/dd}" asp-for="@Model.Expdate" />
                <span asp-validation-for="ExDate" class="text-danger"></span>
            </div>



            @*<div class="form-group">
            <label @Html.LabelFor(Model.) class="control-label">到期日</label>
            <input asp-for="ExDate" class="form-control" />
            <span asp-validation-for="ExDate" class="text-danger"></span>
        </div>*@





            <div class="form-group">
                <label class="control-label">使用條件</label>
                <input id="Condition" asp-for="Condition" class="form-control" required />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label class="control-label">有效Y/N</label>
            <input asp-for="Useful" class="form-control" required />
            <span asp-validation-for="Useful" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label class="control-label">有效Y/N</label>
                <select id="use" asp-for="Useful" class="form-control">
                    <option value="true">
                        有效
                    </option>
                    <option value="false">
                        無效
                    </option>
                </select>

                <span asp-validation-for="Useful" class="text-danger"></span>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="cdemo()" class="btn btn-success">DEMO</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>

        </form>
    </div>
</div>
<script>
    function cdemo() {
        $("#GiftKey").val(1116);
        $("#CouponName").val("結業優惠券");
        $("#Discount").val(200);
        $("#ex").val("2022-11-17");
        $("#Condition").val(999);
        $("#use").val("true");
    }

</script>


@section Scripts {

 

}
