@using prj認真版嗎.ViewModel
@model C評論畫面
@{
    Layout = null;
}
<link href="~/css/JianComment.css" rel="stylesheet" />

    <div class="d-flex position-relative">
        <div class="form-group col-6 改字型">
            <input asp-for="CommentId" type="hidden" class="form-control" name="CommentId" />

            <label asp-for="MembersId">會員編號 / @Model.MembersId</label>
            <input asp-for="會員名稱" class="form-control " name="MembersId" />
            <label asp-for="TravelProductId" class="control-label">行程編號 / @Model.TravelProductId</label>
            <input asp-for="產品名稱" class="form-control d-inline" id="TravelProductId" />
            <label asp-for="CommentDate"></label>
            <input asp-for="CommentDate" class="form-control" name="CommentDate" />
            <label asp-for="CommentText" class="control-label"></label>
            <textarea asp-for="CommentText" class="form-control" type="text" name="CommentText"></textarea> 
           
        </div>
        <div class="form-group col-6">
            <div class="">
                <p class="星數字">客戶評分</p>
            </div>
            <div  class="d-flex justify-content-center">
                @for (int i = 0; i < Model.Star; i++)
                {

                    <img src="~/images/star.png" /> @:&nbsp;
                }

            </div>
            <div class="狀態顯示">
                @{ if ((bool)Model.CommentStatus)
                    {
                        <span>目前狀態 :</span>@:&nbsp;<span class="正常顯示">正常顯示</span>
                    }
                    else
                    {
                        <span>目前狀態:</span>@:&nbsp;<span class="隱藏中">隱藏中</span>
                    }
                }
            </div>
            <div class="position-absolute 右下角">
                <button type="button" onclick="offs(@Model.CommentId)" id="off"class="btn btn-warning">隱藏評論</button>
                <button type="button" onclick="opens(@Model.CommentId)" id="op" class="btn btn-danger">解除隱藏</button>
            </div>
        </div>
    </div>

   

