@model prj認真版嗎.ViewModel.CCreateTravelProductViewModel

@{ ViewData["Title"] = "建立行程資訊"; }

<h1>建立行程資訊作業</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TravelProductName" class="control-label"></label>
                <input asp-for="TravelProductName" class="form-control" />
                <span asp-validation-for="TravelProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelProductTypeId" class="control-label"></label>
                <input asp-for="TravelProductTypeId" class="form-control" />
                <span asp-validation-for="TravelProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stocks" class="control-label"></label>
                <input asp-for="Stocks" class="form-control" />
                <span asp-validation-for="Stocks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventIntroduction" class="control-label"></label>
                <input asp-for="EventIntroduction" class="form-control" />
                <span asp-validation-for="EventIntroduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationDescription" class="control-label"></label>
                <input asp-for="PreparationDescription" class="form-control" />
                <span asp-validation-for="PreparationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">旅遊產品介紹照片</label>
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <label asp-for="TravelPictureText" class="control-label"></label>
                <input asp-for="TravelPictureText" class="form-control" />
                <span asp-validation-for="TravelPictureText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="list">回到產品一覽表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
