@model prj認真版嗎.ViewModel.CCreateTravelProductViewModel

@{ ViewData["Title"] = "建立行程資訊"; }

<h1>建立行程資訊作業</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TravelProductName" class="control-label"></label>
                <input asp-for="TravelProductName" class="form-control" />
                <span asp-validation-for="TravelProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelProductTypeId" class="control-label"></label>
                <select asp-for="TravelProductTypeId" class="form-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stocks" class="control-label"></label>
                <input asp-for="Stocks" class="form-control" />
                <span asp-validation-for="Stocks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventIntroduction" class="control-label"></label>
                <input asp-for="EventIntroduction" class="form-control" />
                <span asp-validation-for="EventIntroduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationDescription" class="control-label"></label>
                <input asp-for="PreparationDescription" class="form-control" />
                <span asp-validation-for="PreparationDescription" class="text-danger"></span>
            </div>
            =========新增旅遊產品介紹照片=========
            <div id="pic_group">
                <div class="form-group">
                    <label class="control-label">旅遊產品介紹照片</label>
                    <p>Tips:按住ctrl可進行多筆上傳</p>
                    <input type="file" name="photo" multiple />
                </div>
                <div class="form-group">
                    <label asp-for="TravelPictureText" class="control-label"></label>
                    <input asp-for="TravelPictureText" class="form-control" />
                    <span asp-validation-for="TravelPictureText" class="text-danger"></span>
                </div>
            </div>
            ===========新增每日行程明細===========
            <div class="form-group">
                <label asp-for="TravelProductDetailID" class="control-label"></label>
                <input asp-for="TravelProductDetailID" class="form-control" />
                <span asp-validation-for="TravelProductDetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelProductDetail_HotelID" class="control-label"></label>
                <select asp-for="TravelProductDetail_HotelID" class="form-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyDetailText" class="control-label"></label>
                <input asp-for="DailyDetailText" class="form-control" />
                <span asp-validation-for="DailyDetailText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="建立新行程" class="btn btn-primary" />
            </div>


        </form>


    </div>
</div>

<div>
    <a asp-action="list">回到產品一覽表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    async function LoadTravelProductType() {
        //抓資料庫旅遊型態的資料
        let selTravelProductType = document.querySelector("#TravelProductTypeId")
        let response = await fetch("@Url.Content("~/Product/LoadTravelProductType_ReturnJson")")
        let datas = await response.json()
        datas.forEach(TravelProductType => {
            const opt = new Option(TravelProductType['travelProductTypeName'], TravelProductType['travelProductTypeId'])
            selTravelProductType.options.add(opt)
        })
    }

    async function LoadCountryName() {
        //抓資料庫國家的名字
        let selCountryName = document.querySelector("#CountryId")
        let response = await fetch("@Url.Content("~/Product/LoadCountryName_ReturnJson")")
        let datas = await response.json()
        datas.forEach(Country => {
            const opt = new Option(Country['countryName'], Country['countryId'])
            selCountryName.options.add(opt)
        })
    }
        async function LoadHotelName() {
        //抓資料庫旅館的名字
            let selHotelName = document.querySelector("#TravelProductDetail_HotelID")
        let response = await fetch("@Url.Content("~/Product/LoadHotelName_ReturnJson")")
        let datas = await response.json()
            datas.forEach(Hotel => {
                const opt = new Option(Hotel['hotelNameName'], Hotel['hotelNameId'])
                selHotelName.options.add(opt)
        })
    }
    LoadTravelProductType();
    LoadCountryName();
    LoadHotelName();
</script>


}
