@model prj認真版嗎.ViewModel.CCreateTravelProductViewModel

@{ ViewData["Title"] = "建立行程資訊"; }

@section Styles{
    <link href="~/css/Product_Create_Edit.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet" />
}

<div class="prod_menu">
    <div class="list-group">
        <button class="list-group-item list-group-item-action list-group-item-dark" id="demo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" />
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            </svg>　嗲某鍵
        </button>
        <button class="list-group-item list-group-item-action list-group-item-info" onclick="createBtn()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            </svg>　建立新行程
        </button>
        <button class="list-group-item list-group-item-action" id="jq-goTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>　回到最上方
        </button>
        <a asp-action="list" class="list-group-item list-group-item-action list-group-item-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z" />
            </svg>　回到行程一覽表
        </a>
    </div>
</div>

<section class="ProductSection">
    <div class="ProductSectionTitle">
        <h1>建立行程資訊作業</h1>
        <hr />
    </div>

    <div class="CreateProductForm">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="d-flex prod_basic">                    
                    <div class="d-flex row col-6">
                        <div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="TravelProductName" class="control-label"></label>
                                <input asp-for="TravelProductName" class="form-control" />
                                <span asp-validation-for="TravelProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TravelProductTypeId" class="control-label"></label>
                                <select asp-for="TravelProductTypeId" class="form-select">
                                    <option value="-1">請選擇行程分類</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Price" class="form-control" />
                                    <span class="input-group-text">元</span>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stocks" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Stocks" class="form-control" />
                                    <span class="input-group-text">人</span>
                                    <span asp-validation-for="Stocks" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="CountryId" class="control-label"></label>
                                <select asp-for="CountryId" class="form-select">
                                    <option value="-1">請選擇行程所在國家</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cost" class="control-label"></label>
                                <div class="input-group mb-3">
                                    <input asp-for="Cost" class="form-control" />
                                    <span class="input-group-text">元</span>
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">行程總天數</label>
                                <input class="form-control" id="TotalDay">
                            </div>
                            <div class="form-group">
                                <label asp-for="MapUrl" class="control-label"></label>
                                <input asp-for="MapUrl" class="form-control" />
                                <span asp-validation-for="MapUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row col-4 m-sm-4">
                        <div id="pic_group">
                            <div class="form-group">
                                <div>
                                    <label class="control-label">旅遊產品介紹照片</label>
                                    <div>
                                        <div class="swiper mySwiper6 mt-0 mb-1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><img id="swip0" src="" /></div>
                                                <div class="swiper-slide"><img id="swip1" src="" /></div>
                                                <div class="swiper-slide"><img id="swip2" src="" /></div>
                                                <div class="swiper-slide"><img id="swip3" src="" /></div>
                                                <div class="swiper-slide"><img id="swip4" src="" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>Tips:按住ctrl可進行多筆上傳</p>
                                <label class="btn btn-info">
                                    <input id="Upload_File" style="display:none;" type="file" name="photo" multiple onchange="checkFiles()">
                                    <i class="fa fa-photo"></i> +新增多筆圖片
                                </label>
                                <p style="display:inline" id="Upload_File_Count">　</p>
                            </div>
                            <div class="form-group">
                                <label asp-for="TravelPictureText" class="control-label"></label>
                                <input asp-for="TravelPictureText" class="form-control" />
                                <span asp-validation-for="TravelPictureText" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">行程出團日</label>
                            <input class="form-control" id="DepartureDay">
                        </div>
                        <div class="form-group">
                            <label asp-for="AnotherDepartureDate" class="control-label"></label>
                            <input asp-for="AnotherDepartureDate" class="form-control" />
                            <span asp-validation-for="AnotherDepartureDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row ">
                <div class="col-8 prod_detail">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="50" rows="12"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventIntroduction" class="control-label"></label>
                        <textarea asp-for="EventIntroduction" class="form-control" cols="50" rows="12"></textarea>
                        <span asp-validation-for="EventIntroduction" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PreparationDescription" class="control-label"></label>
                        <textarea asp-for="PreparationDescription" class="form-control" cols="50" rows="10"></textarea>
                        <span asp-validation-for="PreparationDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 prod_detail">
                    <label for="Day" class="control-label">行程第1天</label>
                    <div class="form-group">
                        <label asp-for="_TravelProductDetail[0].Day" class="control-label"></label>
                        <input asp-for="_TravelProductDetail[0].Day" class="form-control" value="1" readonly="readonly" />
                        <span asp-validation-for="_TravelProductDetail[0].Day" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="_TravelProductDetail[0].HotelId" class="control-label"></label>
                        <select asp-for="_TravelProductDetail[0].HotelId" id="TravelProductDetail_HotelID" class="form-select forHotelMethod">
                            <option value="-1">請選擇下榻飯店</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="_TravelProductDetail[0].Date" class="control-label"></label>
                        <input type="date" asp-for="_TravelProductDetail[0].Date" class="form-control" />
                        <span asp-validation-for="_TravelProductDetail[0].Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="_TravelProductDetail[0].DailyDetailText" class="control-label"></label>
                        <textarea asp-for="_TravelProductDetail[0].DailyDetailText" class="form-control" cols="50" rows="8"></textarea>
                        <span asp-validation-for="_TravelProductDetail[0].DailyDetailText" class="text-danger"></span>
                    </div>

                    <label class="control-label">新增交通方式</label>
                    <fieldset>
                        <div class="form-check form-check-inline">
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="1" id="railway">
                                <label class="form-check-label" for="railway">鐵路</label><br>
                            </div>
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="2" id="airplane">
                                <label class="form-check-label" for="airplane">飛機</label><br>
                            </div>
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="3" id="bus" />
                                <label class="form-check-label" for="bus">巴士</label>
                            </div>
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="4" id="ship" />
                                <label class="form-check-label" for="ship">遊輪</label>
                            </div>
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="5" id="motor" />
                                <label class="form-check-label" for="motor">機車</label>
                            </div>
                            <div class="Transportation_Check">
                                <input class="form-check-input" name="_TravelProductDetail[0].TrasportationID" type="checkbox" value="6" id="bike" />
                                <label class="form-check-label" for="bike">腳踏車</label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label name="_TravelProductDetail[0].ViewID" class="control-label">行程景點</label>
                        <select name="_TravelProductDetail[0].ViewID" class="form-select forViewMethod" id="_ViewV">
                            <option value="-1">請選擇行程景點</option>
                        </select>
                    </div>

                    <div id="createExistView1">
                    </div>
                    <div>
                        <button class="btn btn-warning m-2" type="button" onclick="removeExistViewFunc(1)">－選擇景點</button>
                        <button class="btn btn-warning m-2" type="button" onclick="createExistViewFunc(1)">＋選擇景點</button>
                    </div>
                    <div id="createNewView1">
                    </div>
                    <div style="margin-top:20px">
                        <button class="btn btn-success m-2" type="button" onclick="removeNewViewFunc(1)">－自訂景點</button>
                        <button class="btn btn-success m-2" type="button" onclick="createNewViewFunc(1)">＋自訂景點</button>
                    </div>
                </div>
            </div>
            <div id="createNewTravelDetail" class="row">

            </div>

            <div class="btnDetail mb-5 d-flex">
                <button class="btn btn-secondary me-4" type="button" onclick="removeNewTravelDetaiFunc()">－行程明細</button>
                <button class="btn btn-secondary" type="button" onclick="createNewTravelDetaiFunc()">＋行程明細</button>
                <div class="d-flex justify-content-end" style="width:800px">
                    <input id="createNewProductBtn" type="submit" value="建立新行程" class="btn btn-primary" style="width:200px;" />
                </div>                
            </div>

        </form>
    </div>

</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="//cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
    <script>
    //DEMO用
    $('#demo').on("click", function () {
        $('#TravelProductName').val("河內｜越南3天2夜沙壩小鎮深度之旅");
        $('#Price').val(7699);
        $('#TravelProductTypeId').get(0).selectedIndex = 4;
        $('#Stocks').val(40);
        let temp = `<p>當您在 3 天的行程中游覽不起眼的<a href="https://goo.gl/maps/GJUJvGXrnsscejXr7">沙巴鎮</a>時，發現越南的另一面 在老柴村、塔文村了解沙巴當地人的傳統和文化......</p>
<p>與常駐家庭互動，完全沉浸在文化中 通過 Dcar 的便捷接送服務、越南美食等來完成冒險</p>`;
        CKEDITOR.instances['Description'].setData(temp);
        $('#CountryId').get(0).selectedIndex = 9;
        $('#Cost').val(3400);
        $('#TotalDay').val(3);
        temp =`<ul>
	<li>捕捉沙巴令人嘆為觀止的<a href="https://www.google.com/search?q=%E6%B2%99%E5%B7%B4%E9%8E%AE&amp;tbm=isch&amp;ved=2ahUKEwj2p7ef_Jv7AhUPhZQKHXHOC3wQ2-cCegQIABAA&amp;oq=%E6%B2%99%E5%B7%B4%E9%8E%AE&amp;gs_lcp=CgNpbWcQDFAAWABgAGgAcAB4AIABAIgBAJIBAJgBAKoBC2d3cy13aXotaW1n&amp;sclient=img&amp;ei=lOxoY_aNIo-K0gTxnK_gBw&amp;rlz=1C1ONGR_zh-TWTW949TW949">自然景觀</a></li>
	<li>在整個迷人的鄉村享受這個為期 3 天的行程，體驗沙巴的傳統和文化</li>
	<li>沙巴的梯田被美國《旅遊與休閒》雜誌的讀者評選為亞洲和世界七大最美麗、最令人印象深刻的稻田之一</li>
	<li>一起來探索迷人的沙巴小鎮吧！</li>
</ul>`
        CKEDITOR.instances['EventIntroduction'].setData(temp);
        temp = `<ul>
	<li>不建議行動者不便參加活動</li>
	<li>不建議參加活動、等情況的情況</li>
	<li>供應商可能拒絕酒醉者參加活動且不接受</li>
	<li>餐活動無法配合提供特殊的飲食需求點（如過敏、麩質過敏、食物素食等）</li>
	<li>請視當日天候穿著合宜服裝</li>
	<li>如遇天候差等不可抗力的情況，將取消時間，並安排改期或日期</li>
</ul>`;
        CKEDITOR.instances['PreparationDescription'].setData(temp);
        temp = `https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118080.82854609472!2d103.76835813013622!3d22.35265118152092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x36cd40a503ec6395%3A0x49032814dedb2fb8!2z6LaK5Y2X6ICB6KGX5rKZ5aOp57ij!5e0!3m2!1szh-TW!2stw!4v1667820823656!5m2!1szh-TW!2stw`;
        $('#MapUrl').val(temp);
        $('#TravelPictureText').val("沙壩小鎮之旅圖片介紹集");
        $('#DepartureDay').val("2022/12/25")
        $('#AnotherDepartureDate').val("2023/02/28 # 2023/04/07")
        $('#TravelProductDetail_HotelID').get(0).selectedIndex = 3;
        $('#zTravelProductDetail_0__Date').val("2022-12-25");
        temp =`第 1 天：#
06:30 - 07:00，老城區酒店或集合點接載#
08:00 - 09:00，老城區巴士觀光#
出發前往沙巴#
10:00 - 12:00，抵達沙巴，在沙巴中心漫遊#
享用午餐#
14:00-參觀老柴 - Ta Van 村或 Ma Tra - Ta Phin 村#
在沙巴享用晚餐並過夜#`
        $('#zTravelProductDetail_0__DailyDetailText').val(temp);
        $('#View_CityId0').get(0).selectedIndex = 1;
        $('#ViewName0').val("老柴塔番村");
        $('#TravelProductDetail_HotelIDH2').get(0).selectedIndex = 4;
        $('#_TravelProductDetail_Date1').val("2022-12-26");
        temp =`第 2 天：#
07:00 - 08:00，在酒店享用早餐#
09:00 - 12:00，參觀咸榮#
享用午餐#
14:00 -參觀番西邦山（纜車票自費）#
在沙巴過夜`
        $('#_TravelProductDetail_DailyDetailText1').val(temp);
        $('#View_CityId1').get(0).selectedIndex = 1;
        $('#ViewName1').val("河內咸榮");
        $('#View_CityId2').get(0).selectedIndex = 1;
        $('#ViewName2').val("番西邦山");
        $('#_TravelProductDetail_Date2').val("2022-12-27");
        temp =`第 3 天：#
07:00 - 08:00，在酒店享用早餐#
09:00 - 12:00，參觀薩霸鎮#
享用午餐#
14:00 - 17:00，參訪薩帕提市場#
18:00 - 前往機場，返回甜蜜的家！`
        $('#_TravelProductDetail_DailyDetailText2').val(temp);
        $('#View_CityId3').get(0).selectedIndex = 1;
        $('#ViewName3').val("薩霸鎮");
        $('#View_CityId4').get(0).selectedIndex = 1;
        $('#ViewName4').val("薩帕提市場");
    })


    //新增、減少行程明細
    let detail_num = 2;
    let CCTPVM_Count = 0; //給CCreateTravelProductViewModel存資料用的Count
    const createNewTravelDetailNode = document.querySelector("#createNewTravelDetail");
    function createNewTravelDetaiFunc()
    {
        _CreateViewCount = 0
        CCTPVM_Count++;
        if (detail_num < 6) {
            let p = document.createElement("div")
            p.setAttribute("class", "col-8 prod_detail");
            const temp =
                `<div class="form-group">` +
                `<label for="Day" class="control-label">行程第${detail_num}天</label>` +
                `<input id="Day" name="_TravelProductDetail[${CCTPVM_Count}].Day" class="form-control" value="${detail_num}" readonly="readonly"/>` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="TravelProductDetail_HotelIDH${detail_num}" class="control-label">住宿地點</label>` +
                `<select id="TravelProductDetail_HotelIDH${detail_num}" name="_TravelProductDetail[${CCTPVM_Count}].HotelId" class="form-select forHotelMethod">` +
                `<option value="-1">請選擇下榻飯店</option>` +
                ` </select>` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="Date" class="control-label">日期</label>` +
                `<input type="date" id="_TravelProductDetail_Date${CCTPVM_Count}" name="_TravelProductDetail[${CCTPVM_Count}].Date" class="form-control" />` +
                `</div>` +
                `<div class="form-group">` +
                `<label for="DailyDetailText" class="control-label">每日行程概述</label>` +
                `<textarea id="_TravelProductDetail_DailyDetailText${CCTPVM_Count}" name="_TravelProductDetail[${CCTPVM_Count}].DailyDetailText" class="form-control" cols="50" rows="8"></textarea>` +
                `</div>` +
                `<label class="control-label">新增交通方式</label>`+
                `<fieldset>`+
                `<div class="form-check form-check-inline">` +
                `<div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="1" id="railway${CCTPVM_Count}">` +
                `<label class="form-check-label" for="railway${CCTPVM_Count}">鐵路</label><br>` +
                `</div>` +
                ` <div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="2" id="airplane${CCTPVM_Count}">` +
                `<label class="form-check-label" for="airplane${CCTPVM_Count}">飛機</label><br>` +
                `</div>` +
                ` <div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="3" id="bus${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="bus${CCTPVM_Count}">巴士</label>` +
                `</div>` +
                ` <div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="4" id="ship${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="ship${CCTPVM_Count}">遊輪</label>` +
                `</div>` +
                ` <div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="5" id="motor${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="motor${CCTPVM_Count}">機車</label>` +
                `</div>` +
                ` <div class="Transportation_Check">`+
                `<input class="form-check-input" name="_TravelProductDetail[${CCTPVM_Count}].TrasportationID" type="checkbox" value="6" id="bike${CCTPVM_Count}" />` +
                `<label class="form-check-label" for="bike${CCTPVM_Count}">腳踏車</label>` +
                `</div>`+
                `</div>` +
                `</fieldset>`+
                `<div class="form-group">` +
                `<label for="_ViewV${detail_num}" class="control-label">行程景點</label>` +
                `<select id="_ViewV${detail_num}" name="_TravelProductDetail[${CCTPVM_Count}].ViewID" class="form-select forViewMethod">` +
                `<option value="-1">請選擇行程景點</option>` +
                `</select>` +
                `</div>` +
                `<div id="createExistViewE${detail_num}">` +
                `</div>` +
                `<div>` +
                `<button class="btn btn-warning m-2" type="button" onclick="removeExistViewFunc('E${detail_num}')">－選擇景點</button>` +
                `<button class="btn btn-warning m-2" type="button" onclick="createExistViewFunc('E${detail_num}')">＋選擇景點</button>` +
                `</div>` +
                `<div id="createNewViewV${detail_num}">` +
                `</div>` +
                `<div>` +
                `<button class="btn btn-success m-2" type="button" onclick="removeNewViewFunc('V${detail_num}')">－自訂景點</button>` +
                `<button class="btn btn-success m-2" type="button" onclick="createNewViewFunc('V${detail_num}')">＋自訂景點</button>` +
                `</div>` ;
            p.innerHTML += temp;
            createNewTravelDetailNode.appendChild(p);
            let CountryName = $('#CountryId').find("option:selected").text();
            LoadViewName(`V${detail_num}`, CountryName,1);
            LoadHotelName(`H${detail_num}`, CountryName,1);
            detail_num++;
        }
        else
        {
            detail_num = 6;
            CCTPVM_Count=4;
        }


    };
    function removeNewTravelDetaiFunc() {
        if (detail_num > 2) {
            $(`#createNewTravelDetail`).children().last().remove();
            detail_num--;
            CCTPVM_Count--;
        }
        else
        {
            detail_num = 2;
            CCTPVM_Count=0;
        }

    }
    //新增、減少景點(既有資料)
    let view_exist_num = 0;
    function createExistViewFunc(id) {
        const createExistViewNode = document.querySelector(`#createExistView${id}`);
        let p = document.createElement("div")
        const temp =
            `<div class="form-group">` +
            `<label for="_ViewE${view_exist_num}" class="control-label">景點</label>` +
            `<select name="_TravelProductDetail[${CCTPVM_Count}].ViewID" id="_ViewE${view_exist_num}" class="form-select forViewMethod">` +
            ` <option value="-1">請選擇行程景點</option>` +
            `</select>` +
            `</div>`;

        p.innerHTML += temp;
        createExistViewNode.appendChild(p);
        let CountryName = $('#CountryId').find("option:selected").text();
        LoadViewName(`E${view_exist_num}`, CountryName,1);
        view_exist_num++;

    }
    function removeExistViewFunc(id) {
        $(`#createExistView${id}`).children().last().remove();

    }
    //新增、減少景點(自訂欄位)
    let view_num = 0;
    let _CreateViewCount = 0;
    function createNewViewFunc(id)
    {
        const createNewViewNode = document.querySelector(`#createNewView${id}`);
            let p = document.createElement("div")
            //const temp =
            //    `<div class="form-group">` +
            //    `<label for="View_CityId${view_num}" class="control-label">城市</label>` +
            //    `<select name="_TravelProductDetail[${CCTPVM_Count}].CreateViewCityID" id="View_CityId${view_num}" class="form-select">` +
            //    ` <option value="-1">請選擇景點所在城市</option>` +
            //    `</select>` +
            //    `<label for="ViewName${view_num}">請輸入景點名字</label>` +
            //    `<input type="text" name="_TravelProductDetail[${CCTPVM_Count}].CreateViewName" id="ViewName${view_num}" />`+
            //    `</div>`;
        const temp =
            `<div class="form-group">` +
            `<label for="View_CityId${view_num}" class="control-label">城市</label>` +
            `<select name="_TravelProductDetail[${CCTPVM_Count}]._CreateView[${_CreateViewCount}].CreateViewCityID" id="View_CityId${view_num}" class="form-select forViewCityMethod">` +
            ` <option value="-1">請選擇景點所在城市</option>` +
            `</select>` +
            `<label for="ViewName${view_num}">請輸入景點名字</label>` +
            `<input type="text" name="_TravelProductDetail[${CCTPVM_Count}]._CreateView[${_CreateViewCount}].CreateViewName" id="ViewName${view_num}" />` +
            `</div>`;
        p.innerHTML += temp;
        createNewViewNode.appendChild(p);
        let CountryName = $('#CountryId').find("option:selected").text();
        LoadCityName(CountryName,1);
        view_num++;
        _CreateViewCount++;

    }
    function removeNewViewFunc(id) {
        $(`#createNewView${id}`).children().last().remove();
        if (_CreateViewCount > 0)
            _CreateViewCount--;
        else
            _CreateViewCount = 0;
    }

    //新增、減少交通方式
    let transportation_num = 0;

    function createNewTransportationFunc(id) {
        const createNewTransportationNode = document.querySelector(`#createNewTransportation${id}`);

            let p = document.createElement("div")
            const temp =
                `<div class="form-group">` +
                `<label for="Trasportation_TrasportationID${transportation_num}" class="control-label">交通</label>` +
                `<select name="_TravelProductDetail[0].TrasportationID" id="Trasportation_TrasportationID${transportation_num}" class="form-select">` +
                ` <option value="-1">新增每日行程交通方式</option>` +
                `</select>` +
                `</div>`;

            p.innerHTML += temp;
            createNewTransportationNode.appendChild(p);
            LoadTrasportationName(transportation_num);
            transportation_num++;

    }
    function removeNewTransportationFunc(id) {
            $(`#createNewTransportation${id}`).children().last().remove();
    }
    //抓資料庫旅遊型態的資料
    async function LoadTravelProductType() {
        let selTravelProductType = document.querySelector("#TravelProductTypeId")
        let response = await fetch("@Url.Content("~/Product/LoadTravelProductType_ReturnJson")")
        let datas = await response.json()
        datas.forEach(TravelProductType => {
            const opt = new Option(TravelProductType['travelProductTypeName'], TravelProductType['travelProductTypeId'])
            selTravelProductType.options.add(opt)
        })
    }
    //抓資料庫國家的名字
    async function LoadCountryName() {
        let selCountryName = document.querySelector("#CountryId")
        let response = await fetch("@Url.Content("~/Product/LoadCountryName_ReturnJson")")
        let datas = await response.json()
        datas.forEach(Country => {
            const opt = new Option(Country['countryName'], Country['countryId'])
            selCountryName.options.add(opt)
        })
    }
    //抓資料庫城市的名字
        async function LoadCityName(Country, para) {
            let selCityName = document.querySelectorAll(`#View_CityId${view_num}`);
            if (para === 0) { //參數0=歸零清空選項，1不清空
                selCityName = document.querySelectorAll(`.forViewCityMethod`);
                selCityName.forEach(selCity => {
                    const opt0 = new Option("請選擇景點所在城市", -1)
                    selCity.options.length = 0;
                    selCity.options.add(opt0)
                })
            }

        let response = await fetch(`@Url.Content("~/Product/LoadCityName_ReturnJson")?Country=${Country}`)
        let datas = await response.json()
        selCityName.forEach(selCity => {
            datas.forEach(City => {
                const opt = new Option(City['cityName'], City['cityId'])
                selCity.options.add(opt)
            })
        })
    }


    //抓資料庫旅館的名字
        async function LoadHotelName(id, Country,para) {
            let selHotelName = document.querySelectorAll(`#TravelProductDetail_HotelID${id}`)
            if (para === 0) { //參數0=歸零清空選項，1不清空
                selHotelName = document.querySelectorAll(`.forHotelMethod`);
                selHotelName.forEach(selHotel => {
                    const opt0 = new Option("請選擇下榻飯店", -1)
                    selHotel.options.length = 0;
                    selHotel.options.add(opt0)
                })
            }
            let response = await fetch(`@Url.Content("~/Product/LoadHotelName_ReturnJson")?Country=${Country}`)
        let datas = await response.json()
            selHotelName.forEach(selHotel => {
                datas.forEach(Hotel => {
                    const opt = new Option(Hotel['hotelName'], Hotel['hotelId'])
                    selHotel.options.add(opt)
                })
            })

    }
    //抓資料庫景點的名字
        async function LoadViewName(id, Country,para) {
            let selViewName = document.querySelectorAll(`#_View${id}`)
        if (para === 0) { //參數0=歸零清空選項，1不清空
            selViewName = document.querySelectorAll(`.forViewMethod`);
            selViewName.forEach(selView => {
                const opt0 = new Option("請選擇行程景點", -1)
                selView.options.length = 0;
                selView.options.add(opt0)
            })
        }
        let response = await fetch(`@Url.Content("~/Product/LoadViewName_ReturnJson")?Country=${Country}`)
            let datas = await response.json()
            selViewName.forEach(selView => {
                datas.forEach(View => {
                    const opt = new Option(View['viewName'], View['viewId'])
                    selView.options.add(opt)
                })
            })
    }
        //圖片專區 計算幾張圖、顯示第一張圖
        function checkFiles() {
            const hint = document.getElementById("Upload_File_Count");
            let count =document.getElementById("Upload_File").files.length;
            hint.innerText = `已上傳${count}張照片`;
            const file = document.getElementById("Upload_File").files;
            for (let i = 0; i < file.length; i++) {
                if (i < 6) {
                    let objectURL = URL.createObjectURL(file[i]);
                    $(`#swip${i}`).attr('src', objectURL);
                }
            }
        }

        //連動新增行程button
        function createBtn() {
            const createBtn = $('#createNewProductBtn');
            createBtn.click();
        }
        //回到最上層
        $("#jq-goTop").click(function (e) {
            e.preventDefault();
            $("html,body").animate(
                {
                    scrollTop: 0,
                },
                600
            );
        });

        //跑馬燈
            var swiper6 = new Swiper(".mySwiper6", {
                grabCursor: true,
                effect: "creative",
                creativeEffect: {
                    prev: {
                        shadow: true,
                        origin: "left center",
                        translate: ["-5%", 0, -200],
                        rotate: [0, 100, 0],
                    },
                    next: {
                        origin: "right center",
                        translate: ["5%", 0, -200],
                        rotate: [0, -100, 0],
                    },
                },
            });
    //把textarea變成可編輯的形式
        CKEDITOR.replace('Description');
        CKEDITOR.replace('EventIntroduction');
        CKEDITOR.replace('PreparationDescription');

    //讀取下拉式選單欄位
    LoadTravelProductType();
    LoadCountryName();
    //LoadViewName("V");

     //當國家改變時其他選項也跟著改變
    $('#CountryId').change(function () {
        let CountryName = $('#CountryId').find("option:selected").text();
        LoadCityName(CountryName, 0);
        LoadHotelName("", CountryName, 0);
        LoadViewName("V", CountryName,0);
    })

    </script>


}
