@model prj認真版嗎.ViewModel.CAdminViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<div class="d-flex justify-content-center">
    <h1>新增管理員</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminName" class="control-label"></label>
                <input asp-for="AdminName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" id="Account1" />
                <span asp-validation-for="Account" class="text-danger" id="NameHelp"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CommentStatus" class="control-label"></label>
                <input asp-for="CommentStatus" type="checkbox" />&nbsp;&nbsp;
                <label asp-for="MemberStatus" class="control-label"></label>
                <input asp-for="MemberStatus" type="checkbox" />&nbsp;&nbsp;
                <label asp-for="ProductStatus" class="control-label"></label>
                <input asp-for="ProductStatus" type="checkbox" />&nbsp;&nbsp;
                <label asp-for="AdminStatus1" class="control-label"></label>
                <input asp-for="AdminStatus1" type="checkbox" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="right:0">關閉</button>
            </div>
        </form>
    </div>
</div>


    <script>
        var Account = document.querySelector("#Account1")
        var Help = document.querySelector("#NameHelp")
       
        Account.addEventListener("blur", async () => {
            let rp = await fetch('@Url.Content("~/Admin/Cy")' + `?Account=${Account.value}`)
            let data =await rp.text();
            Help.textContent = data;
        })

    </script>



