
@{
    ViewData["Title"] = "welcome";
}
@section Styles{ 
<style>
    .back {

    }
    img {    
        height:500px;
    }
</style>
}
<div class="back d-flex justify-content-center align-items-center" >
    <img src="~/images/welcome.gif" />
</div>
