
.tab {
    margin-top: 30px;
    margin-left: 20px;
    background-color: #eff5e9;
    color: #000000;
    font-weight: bold;
    border-color: #dcdbdb;
    height: 700px;
    overflow: auto;
}

.tab > tr {
    border-color: #808080
}
.yo 
{
    margin-top: 30px;
    margin-left: 20px;

}
.罩包 {
    position: relative;
    border: 2px solid #e9fffb;
    border-radius: 10px;
    background-color: #e9fffb;
}
.上table {
    text-align: center;
    background-color: #e9fffb;
}
.冠軍圖1 {
    position: absolute;
    top: -30px;
    right:190px;
}
.上d {
    margin-bottom: 50px;
}
.aaa {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 30px !important;
}
.bbb {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-image: url('/images/gold-medal.png');
    color: black;
}

.th標題 > th {
    width: 150px;
}
.訂單tr{
    background-color:#d8f575
}

.產品名稱{
     max-width:120px;
     overflow:hidden;
     text-overflow:ellipsis;
}
.th標題2 > th {
    width: 100px;
}