
.trtd > td {
    height: 50px;
    color: black
}

.thbkc {
    height: 50px;
    background-color: black;
    font-weight: bold
}

.thbkc > th {
        color: white;
        font-weight: bold
}

.orderi {
    font-size: 25px;
}
.金額顯示 {
    color: #ed0808;
    font:bold;
}
#理由 {
    font-weight: bold;
    color: black
}