#Jimg {
    font-size: 25px;
/*    margin-right: -5px;
    margin-left: 10px ;*/
}

/*.Jspan {
    margin-left: 10px;
}*/
.超連結 {
    font-size: 20px;
}
#超連結 {
    font-size: 20px;
    margin-left: 20px;
    font-weight:bold;
}
/*.調整一下 {
    justify-content: center;
}*/
.jj {
    text-align:center;
    align-items:center;
}
.超連結:hover {
    transform: scale(1.05);
    box-shadow: 0 0 6px rgba(255,102,0,1);
    top: 0px;
    border: none;
}
/*style=" font-size: 30px; margin-right: -5px; margin-left: 10px" */