#List {
    overflow-y: scroll;
    height: 710px;
    -webkit-overflow-scrolling: touch;
}
.big {
    margin: 10px 300px;
}
.標題{
    font-weight:bold;
    color:aliceblue;
}
.標題1 {
    font-weight: bold;
    font-size: 50px;
    color: black;
}
.標題附加 {
    margin-bottom: 0
}
.標題div {
    background-color: black;
}
.改字型 > label{
    font-weight:bold;
    color:black;
    margin-bottom:0;
    margin-top:10px;
}
.右下角 {
    right:0;bottom:0;
}
.星數字 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.評論內容 {
    border: solid 4px black;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-color: #fcfce7
}
.左列 {
    border: solid 4px black;
    border-radius: 10px;
    width:400px;
    height:800px;
    margin-right:20px;
    background-color:#fcfce7
}

.狀態顯示 {
    font-weight: bold;
    position: absolute;
    right: 80px;
    bottom: 170px;
}
.正常顯示{
    background-color:#00ff21;
    color:black;
}
.隱藏中 {
    background-color: red ;
    color:black;
}
.checkchild {
    width: 30px;
    height: 30px;
}
.tbl {
    border-collapse: separate;
}
.左列的row {
   
}
.左列的row > td {
        color: black;
        margin-bottom: 30px;
}
thead>tr>th{
    color:black;
}
thead > tr {
    background-color: #ffd800;
}
.左列的td{
    margin-bottom:30px;
}
.多筆DIV{
    position:relative;
}
#多筆按鈕 {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility:hidden;
}
::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #27314d;
}